.App {
  text-align: center;
  min-height: 370px;
  min-width: 180px;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: calc(10px + 2vmin);

th, td {
    padding: 5px;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
}
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {

  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
