
.App {
  text-align: center;
  background-color: #FF846E;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');

.stage {
  height: 300px;
  width: 500px;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  top: 0; right: 200px; bottom: 0; left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(15deg) rotateX(15deg) translateZ(0);
}

.layer:after {
  font: 50px/0.65 'Pacifico', 'Roboto', 'Trebuchet MS';
  content: 'PricePal';
  white-space: pre;
  text-align: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 30px;
  text-shadow: 4px 0 10px hsla(0, 0%, 0%, .13);
}

$i: 1;
$NUM_LAYERS: 20;
@for $i from 1 through $NUM_LAYERS {
  .layer:nth-child(#{$i}):after{
    transform: translateZ(($i - 1) * -1.5px);
  }
}

.layer:nth-child(n+#{round($NUM_LAYERS/2)}):after {
  -webkit-text-stroke: 3px hsla(0, 0%, 0%, .25);
}


.layer:last-child:after {
  -webkit-text-stroke: 17px hsla(0, 0%, 0%, .1);
}

.layer:first-child:after{
  color: #CB4A33;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% { transform: rotateY(-15deg) rotateX(-15deg); }
}




th, td {
    padding: 5px;
    text-align: center;
}
table, th, td {
    background-color: #FF6C64;
    border: 2px solid black;
    border-radius: 15px;
    border-color: #A53C29;
    color: #61a;
    margin-left:auto;
    margin-right:auto;
    margin-top: 80px;
}
table {
  border-style: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	 background-color: #2F394D;
   min-width: 300px;
}
h1 {
  font: 30px arial, sans-serif;
	text-align:center;
    color: #F08804;
}
p {
  font: 20px arial, sans-serif;
	text-align:center;
    color: #999999;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

li {
    float: center;
    margin: 20px;
}

li a {
    display: block;
    color: #F08804;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    text-decoration: none;
    font: 20px arial, sans-serif;
    background-color: #36213E;
}
li a img {
    border: 1px solid #000000;
    width: 60px;
    height: 35px;
    vertical-align: middle;
}

li a2 {
    display: block;
    color: #999999;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font: 12px arial, sans-serif;
    background-color: #54457F;
}

li a3 {
	display: block;
    color: #999999;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font: 20px arial, sans-serif;
    background-color: #54457F;
}

li a:hover{
    background-color: #554971;
}
