* {
    width: 300px;
}
/*
.extension {
}
*/

.header {
  text-align: center;
}


.productList{
  background-color: white;
}

body {
    background: linear-gradient(0deg, #8c8c8c, #fff);
    background-size: 400% 400%;
    animation: Gradient 10s linear infinite;
}
@keyframes Gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
